<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CommunityJS.org</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-utils/ui-utils.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-map/ui-map.js"></script>

	<script src="CommunityJSData/rawdata"></script>
	<script src="js/script.js"></script>

  </head>

  <body>

<div class="container">

	<h1>CommunityJS.org</h1>

	<a href="https://github.com/CommunityJS"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

	<p>Discuss the current state of the website in the <a href="https://groups.google.com/forum/#!forum/communityjs">forum</a>.</p>

	<p> To add your group make a pull request to <a href="https://github.com/CommunityJS/CommunityJSData/blob/master/rawdata">CommunityJSData/rawdata</a>.</p>

	<h2>Meetups:</h2>

	<section id="map" ng-controller="MapCtrl">
  		<div id="map_canvas" ui-map="myMap" ui-options="mapOptions" class="map-canvas" style="height: 400px; width: 900px; "></div>
	</section>

	<div ng-controller="GroupsController" ng-app="communityjs">
		<ul>
			<li ng-repeat="(continentName, continent) in continents"> 
				<b>{{continentName}}</b>
				<ul>
					<li data-ng-repeat="(countryName, country) in continent"> 
						{{countryName}}
						<ul>
							<li data-ng-repeat="(stateName, state) in country"> 
								<div ng-if="stateName != 'no-state'"> {{stateName}} </div>

								<ul>
									<li data-ng-repeat="group in state"> 
										 <b>{{group.town}}</b> </br> <a href="{{group.link}}"/a>  {{group.link}} </a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>

</div>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady"> </script>

</body>


</html>
