<!DOCTYPE html>
<html data-ng-app>

<script src="rawdata"></script>
<script src="script.js"></script>
<script src="angular.min.js"></script>


<h1>Hello World</h1>

<p>The communityjs website is currently in the "works. Meanwhile find the raw data of all meetups here: <a href="https://github.com/CommunityJS/CommunityJSData/blob/master/rawdata">https://github.com/CommunityJS/CommunityJSData/blob/master/rawdata<a/> or just see the list below.</p>

<p>Discuss the current state of the website in the <a href="https://groups.google.com/forum/#!forum/communityjs">forum<a>.</p>

<h2>Meetups:</h2>

<div class="container" data-ng-controller="SimpleController">
	Filter <input type="text" data-ng-model="filter"></input>

	<ul>
		<li data-ng-repeat="d in data | filter:filter | orderBy:'continent'"> 
			{{d.continent}} - {{d.country}} - <a href="{{d.link}}"/a> {{d.town}} <a> 
		</li>
	</ul>
</div>

</body>
</html>