<!DOCTYPE html>
<html lang="en" data-ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CommunityJS.org</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script src="rawdata"></script>
	<script src="js/script.js"></script>

  </head>

  <body>

<div class="container">

	<h1>CommunityJS.org</h1>

	<p>The communityjs website is currently in the "works". Discuss the current state of the website in the <a href="https://groups.google.com/forum/#!forum/communityjs">forum</a>.</p>

	<p> Meanwhile find the raw data of all meetups <a href="https://github.com/CommunityJS/CommunityJSData/blob/master/rawdata">here</a> or just see the list below.</p>


	<h2>Meetups:</h2>

	<div data-ng-controller="SimpleController">
		<ul>
			<li data-ng-repeat="(continentName, continent) in continents"> 
				<b>{{continentName}}</b>
				<ul>
					<li data-ng-repeat="(countryName, country) in continent"> 
						{{countryName}}
						<ul>
							<li data-ng-repeat="(stateName, state) in country"> 
								<div ng-if="stateName != 'no-state'"> {{stateName}} </div>

								<ul>
									<li data-ng-repeat="group in state"> 
										 <b>{{group.town}}</b> </br> <a href="{{group.link}}"/a>  {{group.link}} </a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>

</div>

</body>
</html>